{% extends 'base_nav.html' %}
{% load static %}

{% block css_block%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title%}Login Page{% endblock %}

{% block content %}
<!-- Main -->
<main>

    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="email"></label>
            <input type="text" id="email" name="email" placeholder="Email Address" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <input type="submit" value="Login">
        </form>
        <div class="message">
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>

</main>
<!-- End Main -->   
{% endblock %}

<!-- This is where you put your app's script -->
{% block js_block%}
{% endblock %}
