{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">


    <!-- Unique css for each apps goes here -->
    {% block css_block %} 
    {% endblock %}

    <title>
        {% block title %}cd-r queen{% endblock %}
    </title>
    
</head>
<body class="bg">
<!-- Header -->
    <header class="navbar-bg">
        <nav>
            <div class="max-w-screen-l flex flex-wrap items-center justify-between mx-6 p-4">
                <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'images/logo.png' %}" class="h-12" alt="cd-r queen logo" />
                </a>
            <ul class="flex space-x-6">
                <li><a href="{% url 'home' %}" class="header-navbar-links">HOME</a></li>
            <!-- COMPONENTS DROP DOWN -->
                <li class="dropdown-category">
                    <a href="#">COMPONENTS 
                        <i class="bx bx-chevron-down bx-sm icon-links"></i>
                    </a>
                    <ul class="dropdown-content">
                        <a href="#">CPU</a>
                        <a href="#">GRAPHICS CARD</a>
                        <a href="#">MOTHERBOARD</a>
                        <a href="#">RAM</a>
                        <a href="#">STORAGE</a>
                        <a href="#">POWER SUPPLY UNIT</a>
                        <a href="#">CASE</a>
                        <a href="#">COOLING SOLUTION</a>
                        <a href="#">RGB LIGHTING</a>
                    </ul>
                </li>
            <!-- GAMING GEAARS DROP DOWN --> 
                <li class="dropdown-category">
                    <a href="#">GAMING GEARS 
                        <i class="bx bx-chevron-down bx-sm icon-links"></i>
                    </a>
                    <ul class="dropdown-content">
                        <li><a href="#">MOUSE</a></li>
                        <li><a href="#">KEYBOARD</a></li>
                        <li><a href="#">CAMERA</a></li>
                        <li><a href="#">HEADSET</a></li>
                        <li><a href="#">EAR PHONES</a></li>
                        <li><a href="#">MICROPHONE</a></li>
                        <li><a href="#">CONTROLLER</a></li>
                    </ul>
                </li>

                <li><a href="#" class="header-navbar-links">MONITORS</a></li>
                <li><a href="#" class="header-navbar-links">PRE-BUILD GAMING PC</a></li>
            </ul>
            <ul class="flex space-x-4 relative">
                <li class="dropdown-search">
                    <i class="bx bx-search-alt bx-tada-hover bx-sm icon-links"></i>
                    <div class="search-box">
                        <form>
                            <input type="text" class="search-input" placeholder="Search.." name="search">
                            <button type="submit">Go</button>
                        </form>
                    </div>
                </li>

                <!-- Check if the user is logged in -->

                {% if request.user.is_authenticated %}

                    <li class="dropdown-profile">
                        <i class="bx bx-user bx-tada-hover bx-sm icon-links"></i>
                        <ul class="profile-links">
                            <li><a href="{% url 'profile' %}">My Account</a></li>
                            <li><a href="{% url 'all_purchases' %}">My Purchases</a></li>
                        </ul>
                    </li>
                    <li><i class="bx bx-cart bx-tada-hover bx-sm icon-links"></i></li>
                    <!-- Logout Form -->
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">
                                <i class="bx bx-exit bx-fade-right-hover bx-sm icon-links"></i>
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'signup' %}" class="header-navbar-auth">Sign Up</a></li>
                    <li><a href="{% url 'login' %}" class="header-navbar-auth">Login</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
    </header>
<!-- End Header -->

{% block content %}

{% endblock %}

<!-- Footer -->
    <footer class="navbar-bg">
        <nav>
            <div class="max-w-screen-l flex flex-wrap items-start justify-between mx-6 p-5">
                <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'images/logo.png' %}" class="h-10" alt="cd-r queen logo" />
                </a>
                <div class="flex flex-wrap p-1">
                    <ul class="footer-list mr-20">
                        <li class="footer-navbar-title">Info</li>
                        <li><a href="#" class="footer-navbar-links">Shipping Policy</a></li>
                        <li><a href="#" class="footer-navbar-links">Return Policy</a></li>
                        <li><a href="#" class="footer-navbar-links">Terms and Conditions</a></li>
                        <li><a href="#" class="footer-navbar-links">Privacy Policy</a></li>
                    </ul>
                    <ul class="footer-list">
                        <li class="footer-navbar-title">Support</li>
                        <li><a href="#" class="footer-navbar-links">Help Center / Contact Us</a></li>
                        <li class="powered-by">cd-r queen Powered By Django</li>
                    </ul>    
                </div>
            </div>
        </nav>
    </footer>
<!-- End Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script>
    // Select the navbar element
    const navbar = document.querySelector('.navbar-bg');
    let lastScrollPosition = 0;
    
    window.addEventListener('scroll', function() {
        // Get current scroll position
        let currentScrollPosition = window.pageYOffset;

        if (currentScrollPosition > 100 && currentScrollPosition > lastScrollPosition) {
            navbar.style.top = '-100px';
        } else {
            navbar.style.top = '0';
        }

        lastScrollPosition = currentScrollPosition;
    });
</script>

<!-- Unique java script for each apps goes here -->
{% block js_block %}
{% endblock %}

</body>
</html>
