{% extends 'base_nav.html' %}
{% block title%}Home Page{% endblock %}
{% load static %}

{% block content %}
<!-- Main -->
    <main>
        <h2 class="text-2xl mb-2" style="font-family: 'Russo One', sans-serif;">Check Out Our Favorites</h2>    
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
        <h2 class="text-2xl mb-4" style="font-family: 'Russo One', sans-serif;">Best Sellers</h2>
    </main>
<!-- End Main -->   
{% endblock %}
