<div class="card-form-modal hidden" id="card-form-modal">
    <p class="form-content mb-4">Add Your Card Details</p>
    <!-- Card Form -->
    <form id="card-form" method="POST">
        {% csrf_token %}
        <input type="hidden" id="edit-card-id" name="card_id">
        
        <div class="form-group">
            <input type="text" id="card-number" name="card_number" placeholder="Card Number" maxlength="16" pattern="\d{16}" required>
        </div>
    
        <div class="form-group">
            <input type="date" id="expiry-date" name="expiry_date" placeholder="" required>
        </div>
        <div class="form-group">
            <input type="text" id="card-holder-name" name="card_holder_name" placeholder="Cardholder Name" required>
        </div>
        
        <div class="form-btns">
            <button type="button" class="form-btn" id="cancel-card-btn">Cancel</button>
            <button type="submit" class="form-btn" id="save-card-btn">Save</button>
        </div>
    </form>
</div>
