.purchased-items-container {
    margin: 1em auto;
    border: 2px solid white;
    width: 98%;
}

/* Style for each item */
.item-container {
    padding: 12px;
}

.total-container {
    height: 120px;
    padding: 16px;
    font-weight: bold;
}
