{% extends 'base_nav.html' %}
{% load static %}

{% block content %}
<!-- Main -->
<main>

<div class="profile-container flex">
    <!-- Profile Navigation (Left Panel) -->
    <div class="profile-navigation w-1/2">
        <div class="list-container">
            <h2 class="select-none">My Account</h2>
            <ul class="navigation-list">
                <li><i class="bx bx-user-circle bx-sm icon-links"></i><a href="{% url 'profile' %}">Profile</a></li>
                <li><i class="bx bx-map bx-sm icon-links"></i><a href="{% url 'address' %}">Address</a></li>
                <li><i class="bx bx-credit-card bx-sm icon-links"></i><a href="{% url 'user_cards' %}">Cards</a></li>
            </ul>
        </div>
        <div class="list-container">
            <h2 class="select-none">My Purchases</h2>
            <ul class="navigation-list">
                <li><i class="bx bx-wallet bx-sm icon-links"></i><a href="{% url 'checkout' %}">To Pay</a></li>
                <li><i class="bx bx-category bx-sm icon-links"></i><a href="{% url 'all_purchases' %}">All Purchases</a></li>
                <li><i class="bx bx-receipt bx-sm icon-links"></i><a href="{% url 'to_receive' %}">To Receive</a></li>
                <li><i class="bx bx-task bx-sm icon-links"></i><a href="{% url 'completed' %}">Completed</a></li>
                <li><i class="bx bx-task-x bx-sm icon-links"></i><a href="{% url 'cancelled' %}">Cancelled</a></li>
                <li><i class="bx bx-refresh bx-sm icon-links"></i><a href="{% url 'return_refund' %}">Return/Refund</a></li>
            </ul>
        </div>
        <div class="list-container"><h2><a href="{% url 'shopping_cart' %}">My Cart</a></h2></div>
    </div>

    <!-- Profile Details (Right Panel) -->
    <div class="profile-details w-1/2 flex flex-col">
        <!-- Header Section -->
        <div class="details-header flex flex-wrap items-center justify-between px-4">
            <div class="flex page-header select-none">
                <p class="page-name">{% block page_name %}{% endblock %}</p> 
                <p class="subpage-name">{% block subpage_name %}{% endblock %}</p>
            </div>
            <div>{% block add_button %} {% endblock %}</div>
        </div>

        <!-- Content Section -->
        <div class="details-content">
            {% block profile_contents %}
            <!-- Default content or leave empty if provided by child templates -->
            {% endblock %}
        </div>
    </div>
</div>

</main>
<!-- End Main -->   
{% endblock %}

