.address-container {
    background-color: white;
}
.name-detail {
    color: #240E7A;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.address-details {
    color: #240E7A;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
}

.address-type {
    display: inline;
    border: 2px solid #240E7A;
    color: #240E7A;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
}

.add-address-btn {
    background-color: white;
    color: #240E7A;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #240E7A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.add-address-btn:hover {
    background-color: #4C2DC5;
    color: white;
    border: 2px solid #4C2DC5;
}

.edit-btn {
    color: #240E7A;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.edit-btn:hover {
    background-color: #240E7A;
    color: white;
}

.delete-btn {
    color: #240E7A;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.delete-btn:hover {
    background-color: #240E7A;
    color: white;
}

.set-btn {
    border: 2px solid #240E7A;
    color: #240E7A;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.set-btn:hover {
    background-color: #240E7A;
    color: white;
    border: 2px solid #240E7A;
}

