{% extends 'base_nav.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block content %}

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <form action="#" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <ol class="items-center flex w-full max-w-2xl text-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:text-base">
        <li class="after:border-1 flex items-center text-primary-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 dark:text-primary-500 dark:after:border-gray-700 sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
          <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/'] dark:after:text-gray-500 sm:after:hidden">
            <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Cart
          </span>
        </li>
  
        <li class="after:border-1 flex items-center text-primary-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 dark:text-primary-500 dark:after:border-gray-700 sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
          <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/'] dark:after:text-gray-500 sm:after:hidden">
            <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Checkout
          </span>
        </li>
  
        <li class="flex shrink-0 items-center">
          <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          Order summary
        </li>
      </ol>
  
      <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12 xl:gap-16">
        <div class="min-w-0 flex-1 space-y-8">
          <div class="space-y-4">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Delivery Details</h2>
        
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
              <!-- Shipping Address -->
              <div class="space-y-6 sm:col-span-2 lg:col-span-2">
                  {% if default_address %}
                  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                      <!-- Display Street -->
                      <div>
                        <label for="street" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Street</label>
                        <input 
                            type="text" 
                            id="street" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
                            placeholder="Street Address" 
                            value="{{ default_address.street }}" 
                            required 
                        />
                    </div>
          
                      <!-- Display Barangay -->
                      <div>
                        <label for="barangay" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Barangay</label>
                        <input 
                            type="text" 
                            id="barangay" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
                            placeholder="Barangay" 
                            value="{{ default_address.barangay }}" 
                            required 
                        />
                    </div>
                  </div>
          
                  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                      <!-- Display City -->
                      <div>
                        <label for="city" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">City</label>
                        <input 
                            type="text" 
                            id="city" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
                            placeholder="City" 
                            value="{{ default_address.city }}" 
                            required 
                        />
                    </div>
          
                      <!-- Display Province -->
                      <div>
                        <label for="province" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Province</label>
                        <input 
                            type="text" 
                            id="province" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
                            placeholder="Province" 
                            value="{{ default_address.province }}" 
                            required 
                        />
                    </div>
                  </div>
          
                  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                      <!-- Display Region -->
                      <div>
                        <label for="region" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Region</label>
                        <input 
                            type="text" 
                            id="region" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
                            placeholder="Region" 
                            value="{{ default_address.region }}" 
                            required 
                        />
                    </div>
          
                      <!-- Display Country -->
                      <div>
                        <label for="country" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Country</label>
                        <input 
                            type="text" 
                            id="country" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
                            placeholder="Country" 
                            value="{{ default_address.country }}" 
                            required 
                        />
                    </div>
                  </div>
          
                  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                      <!-- Display Postal Code -->
                      <div>
                        <label for="postal_code" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Postal Code</label>
                        <input 
                            type="text" 
                            id="postal_code" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
                            placeholder="Postal Code" 
                            value="{{ default_address.postal_code }}" 
                            required 
                        />
                    </div>
          
                      <!-- Display Phone Number -->
                      <div>
                        <label for="phone_number" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                        <input 
                            type="text" 
                            id="phone_number" 
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"   
                            value="{{ default_address.phone_number }}" 
                            required 
                        />
                    </div>
                    
                  </div>
                  {% else %}
                  <p class="text-sm text-gray-500 dark:text-gray-400">No default address set. Please add or update your address in your profile.</p>
                  {% endif %}
              </div>
<!--SUBTOTAL-->
        <div class="w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
          <div>
            <div class="-my-3 divide-y divide-gray-200 dark:divide-gray-800">
                <dl class="flex items-center justify-between gap-4 py-3">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Subtotal</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">₱{{ subtotal|floatformat:2 }}</dd>
                </dl>
              <dl class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Store Pickup</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">₱{{ store_pickup|floatformat:2 }}</dd>
              </dl>
  
              <dl class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Tax</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">₱{{ tax|floatformat:2 }}</dd>
              </dl>
  
              <dl class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">₱{{ total_price|floatformat:2 }}</dd>
              </dl>
            </div>
          </div>
  
          <div class="space-y-3">
            <button type="submit" class="flex w-full items-center justify-center rounded-lg bg-indigo-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:ring-4  focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">Proceed to Payment</button>
          </div>
        </div>
          <!-- Payment Details -->
<div class="space-y-6 sm:col-span-2 lg:col-span-2">
  <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Payment Details</h2>
  {% if cards %}
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <!-- Cardholder Name -->
      <div>
          <label for="cardholder_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Cardholder Name</label>
          <input 
              type="text" 
              id="cardholder_name" 
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
              placeholder="Cardholder Name" 
              value="{{ cards.0.cardholder_name }}" 
              required 
          />
      </div>

      <!-- Card Number -->
      <div>
          <label for="card_number" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Card Number</label>
          <input 
              type="text" 
              id="card_number" 
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
              placeholder="Card Number" 
              value=" {{ cards.0.card_number|slice:-4 }}" 
              required 
          />
      </div>
  </div>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <!-- Expiry Date -->
      <div>
          <label for="expiry_date" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Expiry Date</label>
          <input 
              type="text" 
              id="expiry_date" 
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" 
              placeholder="MM/YYYY" 
              value="{{ cards.0.expiry_date|date:'m/Y' }}" 
              required 
          />
      </div>
  </div>
  {% else %}
  <p class="text-sm text-gray-500 dark:text-gray-400">No saved payment methods found. Please add a card.</p>
  {% endif %}
</div>
      </div>

    </form>
  </section>

{% endblock %}

{% block js_block %}
{% endblock %}
