.card-form-modal {
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 100%;
    min-width: 50%;
    height: auto;
    max-height: 80%; /* Limit modal height */
    min-height: 200px;
    display: inline-flex;
    flex-direction: column;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 10001;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-form-modal::-webkit-scrollbar {
    width: 10px;
}

.card-form-modal::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 5px;
}

.card-form-modal::-webkit-scrollbar-thumb:hover {
    background: #888;
}

#card-number {
    letter-spacing: 2px;
}

#card-holder-name {
    text-transform: capitalize;
}
