{% extends 'profile_container.html' %}
{% load static %}

{% block title %}Return/Refund{% endblock %}

{% block page_name %}My Purchases{% endblock %}
{% block subpage_name %}Return/Refund{% endblock %}


{% block profile_contents %}
<div class="purchased-items-container">
    <!-- Individual item container -->
    <div class="item-container">
        <!-- Item content here -->
    </div>

    <!-- Total section container -->
    <div class="total-container flex flex-wrap items-center justify-between">
        <div>
        </div>
        <div class="flex flex-col">
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
