{% extends 'profile_container.html' %}
{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/profile_container.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}To Recieve Page{% endblock %}

{% block page_name %}My Purchases{% endblock %}
{% block subpage_name %}To Receive{% endblock %}


{% block profile_contents %}
<div class="purchased-items-container">
    <!-- Individual item container -->
    <div class="item-container">
        <!-- Item content here -->
    </div>

    <!-- Total section container -->
    <div class="total-container flex flex-wrap items-center justify-between">
        <div>
        </div>
        <div class="flex flex-col">
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
