{% extends 'profile_container.html' %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/profile_container.css' %}">
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/address_form_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_address_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/bank_form_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_form_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/confirmation_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/message_modal.css' %}">
{% endblock %}

{% block title %}Address{% endblock %}

{% block page_name %}My Account{% endblock %}
{% block subpage_name %}Address{% endblock %}

{% block add_button %}
<div>
    <button class="add-address-btn" id="add-address-btn">+ Add Address</button>
</div>
{% endblock %}

{% block profile_contents %}

{% for address in addresses %}
<div class="address-container flex mb-5">
    <input type="hidden" class="address-id" data-id="{{ address.id }}">
    <!-- First Column -->
    <div class="flex-none w-4/6 p-3">
        <div class="">
            <div class="p-2">
                <p class="name-detail inline">{{ request.user.first_name }} {{ request.user.last_name }} | </p>
                <p class="address-details inline">{{ address.phone_number }}</p>
                <p class="address-details">{{ address.street }}, {{ address.barangay }}</p>
                <p class="address-details">{{ address.city }}, {{ address.province }}, {{ address.region }}, {{ address.country }} - {{ address.postal_code }}</p>
            </div>
            <div class="p-2 select-none">
                <div class="address-type">{{ address.get_address_label_display }}</div>
                <div class="address-type">{{ address.get_address_type_display }}</div>
            </div>
        </div>
    </div>
    <!-- Second Column -->
    <div class="flex-none w-2/6 p-4">
        <div>
            <div class="flex flex-row items-center gap-5 p-2">
                {% if address.address_type == 'default' %}
                    <span class="default-label">Default Address</span>
                {% else %}
                    <form method="POST" action="{% url 'set_default_address' address.id %}">
                        {% csrf_token %}
                        <button type="submit" class="set-btn">Set as Default</button>
                    </form>
                {% endif %}
                <button 
                    id="delete-address-btn-{{ address.id }}" 
                    class="delete-address-btn set-btn" 
                    data-id="{{ address.id }}" 
                    data-street="{{ address.street }}" 
                    data-barangay="{{ address.barangay }}">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Feedback Modal -->
<div class="overlay-modal hidden" id="modal-overlay"></div>
{% include 'address_form_modal.html' %}
{% include 'edit_address_modal.html' %}
{% include 'confirmation_modal.html' %}

{% endblock %}

{% block js_block %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        //
        //
        // Add address
        const addAddressButton = document.getElementById('add-address-btn');
        const cancelAddAddressButton = document.getElementById('cancel-add-btn');
        const addAddressmodal = document.getElementById('address-form-modal');
        const addAddressForm = document.getElementById('address-form');
        const addAddressOverlay = document.getElementById('modal-overlay');

        addAddressButton.addEventListener('click', () => {
            addAddressmodal.classList.remove('hidden');
            addAddressOverlay.classList.remove('hidden');
            addAddressmodal.classList.add('show');
        });

        cancelAddAddressButton.addEventListener('click', () => {
            addAddressmodal.classList.add('hidden');
            addAddressOverlay.classList.add('hidden');
            addAddressmodal.classList.remove('show');
            addAddressForm.reset();
        });

        addAddressOverlay.addEventListener('click', () => {
            addAddressmodal.classList.add('hidden');
            addAddressOverlay.classList.add('hidden');
            addAddressmodal.classList.remove('show');
            addAddressForm.reset();
        });
        //
        //
        // Delete Address
        const deleteButtons = document.querySelectorAll('.delete-address-btn');
        const deleteAddressmodal = document.getElementById('confirmation-modal');
        const deleteAddressMessage = document.getElementById('confirmation-message');
        const cancelDeleteAddress = document.getElementById('cancel-confirmation-btn');
        const confirmDeleteAddress = document.getElementById('confirm-confirmation-btn');
        const deleteAddressOverlay = document.getElementById('modal-overlay');
        const confirmationForm = document.getElementById('confirmation-form');

        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                const addressId = button.dataset.id;
                const street = button.dataset.street;
                const barangay = button.dataset.barangay;

                deleteAddressMessage.textContent = "Delete Address?";
                cancelDeleteAddress.textContent = "Cancel";
                confirmDeleteAddress.textContent = "Delete Address";

                document.getElementById('confirmation-key').value = addressId;
                confirmationForm.action = `delete_address/${addressId}/`;
                deleteAddressmodal.classList.remove('hidden');
                deleteAddressmodal.classList.add('show');
                confirmDeleteAddress.classList.add('warning');
                deleteAddressOverlay.classList.remove('hidden');
            });
        });

        confirmDeleteAddress.addEventListener('click', () => {
            deleteAddressmodal.classList.add('hidden');
            deleteAddressmodal.classList.remove('show');
            deleteAddressOverlay.classList.add('hidden');
            form.reset();
        });

        cancelDeleteAddress.addEventListener('click', () => {
            deleteAddressmodal.classList.add('hidden');
            deleteAddressmodal.classList.remove('show');
            deleteAddressOverlay.classList.add('hidden');
            form.reset();
        });

        deleteAddressOverlay.addEventListener('click', () => {
            deleteAddressmodal.classList.add('hidden');
            deleteAddressOverlay.classList.add('hidden');
            deleteAddressmodal.classList.remove('show');
            form.reset();
        });
    });
</script>
{% endblock %}
