{% extends 'profile_container.html' %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/profile_container.css' %}">
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/address_form_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_address_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/bank_form_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_form_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/confirmation_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/message_modal.css' %}">
{% endblock %}

{% block title %}Address{% endblock %}

{% block page_name %}My Account{% endblock %}
{% block subpage_name %}Address{% endblock %}

{% block add_button %}
<div>
    <button class="add-address-btn" id="add-address-btn">+ Add Address</button>
</div>
{% endblock %}

{% block profile_contents %}

{% for address in addresses %}
<div class="address-container flex mb-5">
    <input type="hidden" class="address-id" data-id="{{ address.id }}">
    <!-- First Column -->
    <div class="flex-none w-4/5 p-3">
        <div class="">
            <div class="p-2">
                <p class="name-detail inline">{{ request.user.first_name }} {{ request.user.last_name }} | </p>
                <p class="address-details inline">{{ address.phone_number }}</p>
                <p class="address-details">{{ address.street }}, {{ address.barangay }}</p>
                <p class="address-details">{{ address.city }}, {{ address.province }}, {{ address.region }}, {{ address.country }} - {{ address.postal_code }}</p>
            </div>
            <div class="p-2 select-none">
                <div class="address-type">{{ address.get_address_label_display }}</div>
                <div class="address-type">{{ address.get_address_type_display }}</div>
            </div>
        </div>
    </div>
    <!-- Second Column -->
    <div class="flex-none w-1/5 p-4">
        <div>
            <div class="flex flex-row items-center justify-between p-2">
                <button 
                    id="edit-address-btn-{{ address.id }}">
                    Edit
                </button>
                <button id="delete-address-btn-{{ address.id }}" class="delete-address-btn">Delete</button>
            </div>
            <div class="flex items-center justify-center p-2">
                <button class="set-btn">Set as default</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Feedback Modal -->
<div class="overlay-modal hidden" id="modal-overlay"></div>
{% include 'address_form_modal.html' %}
{% include 'edit_address_modal.html' %}

{% endblock %}

{% block js_block %}
<script>
    //Add Address
    document.addEventListener("DOMContentLoaded", function () {
        const addAddressBtn = document.getElementById("add-address-btn");
        const cancelAddBtn = document.getElementById("cancel-add-btn");
        const modalOverlay = document.getElementById("modal-overlay");
        const addressFormModal = document.getElementById("address-form-modal");
        const form = document.getElementById("address-form");
        // Function to show the modal
        function showModal() {
            modalOverlay.classList.remove("hidden");

            addressFormModal.classList.remove("hidden");
            addressFormModal.classList.add("show");
        }

        // Function to hide the modal
        function hideModal() {
            modalOverlay.classList.remove("show");
            modalOverlay.classList.add("hidden");

            addressFormModal.classList.remove("show");
            addressFormModal.classList.add("hidden");
            form.reset();
        }

        // Event listener for the "Add Address" button
        addAddressBtn.addEventListener("click", showModal);

        // Event listener for the "Cancel" button
        cancelAddBtn.addEventListener("click", hideModal);

        // Optional: Close modal when clicking outside the form (on the overlay)
        modalOverlay.addEventListener("click", hideModal);
    });
</script>
{% endblock %}
