{% extends 'profile_container.html' %}
{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/profile_container.css' %}">
    <link rel="stylesheet" href="{% static 'css/bank_and_cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_form_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/confirmation_modal.css' %}">
{% endblock %}
{% block title %}Banks and Cards{% endblock %}

{% block page_name %}My Account{% endblock %}
{% block subpage_name %}Cards{% endblock %}

{% block add_button %}
<div>
    <button class="add-card-btn" id="add-card-btn">+ Add Card</button>
</div>
{% endblock %}

{% block profile_contents %}

{% for card in cards %}
<div class="payment-container flex mb-5">
    <input type="hidden" class="card-id" data-id="{{ card.id }}">
    <!-- First Column -->
    <div class="flex-none w-5/6 p-3">
        <div>
            <div class="p-2 mb-4">
                <p class="name-detail">Card Holder: {{ card.cardholder_name }}</p>
                <p class="card-details">Card Number: **** **** **** {{ card.card_number|slice:"-4:" }}</p>
                <p class="card-details">Expiry Date: {{ card.expiry_date }}</p>
            </div>
        </div>
    </div>
    <!-- Second Column -->
    <div class="flex-none w-1/6 p-4">
        <div>
            <div class="flex flex-row p-2">
                <button 
                    class="delete-card-btn set-btn" 
                    id="delete-card-btn"
                    data-id="{{ card.id }}">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Feedback Modal -->
<div class="overlay-modal hidden" id="modal-overlay"></div>
{% include 'card_form_modal.html' %}
{% include 'confirmation_modal.html' %}

{% endblock %}

{% block js_block %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        //
        //
        // Add address
        const addCardButton = document.getElementById('add-card-btn');
        const cancelAddCardButton = document.getElementById('cancel-card-btn');
        const addCardmodal = document.getElementById('card-form-modal');
        const addCardForm = document.getElementById('card-form');
        const addCardOverlay = document.getElementById('modal-overlay');

        addCardButton.addEventListener('click', () => {
            addCardmodal.classList.remove('hidden');
            addCardOverlay.classList.remove('hidden');
            addCardmodal.classList.add('show');
        });

        cancelAddCardButton.addEventListener('click', () => {
            addCardmodal.classList.add('hidden');
            addCardOverlay.classList.add('hidden');
            addCardmodal.classList.remove('show');
            addCardForm.reset();
        });

        addCardOverlay.addEventListener('click', () => {
            addCardmodal.classList.add('hidden');
            addCardOverlay.classList.add('hidden');
            addCardmodal.classList.remove('show');
            addCardForm.reset();
        });
        //
        //
        // Delete Address
        const deleteButtons = document.querySelectorAll('.delete-card-btn');
        const deleteCardModal = document.getElementById('confirmation-modal');
        const deleteCardMessage = document.getElementById('confirmation-message');
        const cancelDeleteCard = document.getElementById('cancel-confirmation-btn');
        const confirmDeleteCard = document.getElementById('confirm-confirmation-btn');
        const deleteCardOverlay = document.getElementById('modal-overlay');
        const confirmationForm = document.getElementById('confirmation-form');

        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                const cardId = button.dataset.id;

                deleteCardMessage.textContent = "Delete Card?";
                cancelDeleteCard.textContent = "Cancel";
                confirmDeleteCard.textContent = "Delete Card";

                document.getElementById('confirmation-key').value = cardId;
                confirmationForm.action = `delete_card/${cardId}/`;
                deleteCardModal.classList.remove('hidden');
                deleteCardModal.classList.add('show');
                confirmDeleteCard.classList.add('warning');
                deleteCardOverlay.classList.remove('hidden');
            });
        });

        confirmDeleteCard.addEventListener('click', () => {
            deleteCardModal.classList.add('hidden');
            deleteCardModal.classList.remove('show');
            deleteCardOverlay.classList.add('hidden');
            form.reset();
        });

        cancelDeleteCard.addEventListener('click', () => {
            deleteCardModal.classList.add('hidden');
            deleteCardModal.classList.remove('show');
            deleteCardOverlay.classList.add('hidden');
            form.reset();
        });

        deleteCardOverlay.addEventListener('click', () => {
            deleteCardModal.classList.add('hidden');
            deleteCardOverlay.classList.add('hidden');
            deleteCardModal.classList.remove('show');
            form.reset();
        });
    });
</script>
{% endblock %}
